<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html {{ html.lang|raw }}>
    <head>
        {% block head %}
        {% endblock %}

        <!-- wp_head begin -->
        {{ wp_head() }}
        <!-- wp_head end -->
    </head>
    <body>
        {% block body_begin %}
        {% endblock %}

        <header>
            {% block header %}
            {% endblock %}
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>

        {% block body_end %}
        {% endblock %}
    </body>
</html>
