{% block footer %}
    <section id="copyright">
        <div class="container">
            <p>
                &copy; {{ rights.year }} {{ rights.owner }}. {{ rights.terms }}
                | Design by <a href="http://templated.co" target="templated" rel="nofollow">TEMPLATED</a>.
            </p>
            <p>All music licensed for play through www.progrock.com</p>
        </div>
    </section>
{% endblock %}
