{% extends "Base.twig" %}

{% block body_begin %}
    <div id='page' class='container'>
{% endblock %}

{% block head %}
    {% include "Head.twig" %}
{% endblock %}

{% block header %}
    {% include "Header.twig" %}
{% endblock %}

{% block footer %}
    {% include "Footer.twig" %}
{% endblock %}

{% block body_end %}
    </div>
{% endblock %}
